* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}


body {
    min-height: 100vh;
    background:
        linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.85)),
        url("WATCH.jpeg") no-repeat center center / cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.heading {
    position: absolute;
    top: 30px;
    text-align: center;
    font-size: 35px;
    letter-spacing: 5px;
    font-weight: 600;
    color: #9ad0ff;
    margin-top: 40px;

    text-shadow:
        0 0 8px rgba(154, 208, 255, 0.8),
        0 0 20px rgba(0, 0, 0, 0.6);
}



.watch {
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(18px);
    padding: 42px 65px;
    border-radius: 22px;
    text-align: center;
    box-shadow: 0 25px 60px rgba(0,0,0,0.7);
    border: 1px solid rgba(255,255,255,0.2);
    margin-bottom: 50px;
}

/* ===== DATE ===== */
.date {
    font-size: 15px;
    letter-spacing: 3px;
    color: #9ad0ff;
    margin-bottom: 12px;
}

/* ===== TIME ===== */
.time {
    font-size: 42px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 4px;
    text-shadow: 0 0 20px rgba(74,144,226,0.8);
}

.label {
    margin-top: 14px;
    font-size: 12px;
    letter-spacing: 4px;
    color: #aaa;
}


@media (max-width: 480px) {

    body {
        padding-top: 80px; 
        justify-content: flex-start;
    }

    .heading {
        font-size: 22px;
        top: 20px;
        letter-spacing: 3px;
        margin-top: 0; 
    }

    .watch {
        width: 90%;         
        padding: 26px 20px;
        border-radius: 16px;
        margin-bottom: 30px;
    }

    .date {
        font-size: 14px;
        letter-spacing: 2px;
    }

    .time {
        font-size: 34px;
        letter-spacing: 2px;
        text-shadow: 0 0 12px rgba(74,144,226,0.7);
    }

    .label {
        font-size: 10px;
        letter-spacing: 3px;
    }
}

